@model Estapar.Models.Veiculo

@{
    ViewData["Title"] = "Apagar Veículos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Apagar Veículos</h1>

<h3>Você tem certeza que deseja apagar este veículo?</h3>
<div>
    <h4 style="color: red">
        @ViewData["Message"]
    </h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Marca)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Modelo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Placa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Placa)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="VeiculoId" />
        <input type="submit" value="Apagar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar para lista</a>
    </form>
</div>