@model IEnumerable<Estapar.Models.Manobrista>

@{
    ViewData["Title"] = "Lista de manobristas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista de manobristas</h1>

<p>
    <a asp-action="Create">Criar novo</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cpf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ManobristaId">Alterar</a> |
                <a asp-action="Details" asp-route-id="@item.ManobristaId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.ManobristaId">Apagar</a>
            </td>
        </tr>
    }
    </tbody>
</table>